*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer{
    height: 100vh;
    width: 100vw;
}

#caruselContainer{
    height: 80%;
    background-color: blue;
}

.fa-solid{
    font-size: 4rem;
    color: white;
}