*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#caruselContainer{
    height: 80vh;
    /* background-color: blue; */
}

#thumbnails{
    /* margin-top: 100px; */
    width: 100px;
    height: 450px;
}

.fa-solid{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.dimensionImg {
    width: 700px;
    height: 500px;
  }
  
.dimensionThumb {
    height: 100px;
}
  
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background-color: white;
}

